*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo img{
    width: 165px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
    padding-top: 10px;
}

.right > ul {
    display: flex;
    gap: 34px;
}

.right ul li{
    list-style: none;
}

